<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/normalize.css'  | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/css/skeleton.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="two-half column" style="margin-top: 25%">
          {{ content }}
          <footer>
              <p>Made with ♥ in Montreal.</p>
          </footer>
      </div>
    </div>
  </div>
</body>

</html>